body {
  background-color: #f0f0f6;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#front {
  width: 100vw;
}

#front-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 48rem) {
  #sidebar-placeholder {
    width: 21%;
    height: 100vh;
  }

  #sidebar {
    background-color: white;
    width: 21%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    left: 0;
  }

  #sidebar::-webkit-scrollbar {
    display: none;
  }

  #sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  #sidebar-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #profile {
    width: 100%;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 45px;
    padding-bottom: 25px;
    border-bottom: 1.5px solid #f0f0f6;
  }

  #profile img {
    height: 150px;
    width: 150px;
    margin-bottom: 31px;
  }

  #profile h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  #profile p {
    font-size: 1rem;
    color: #767676;
    margin-bottom: 15px;
  }

  #socials {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #socials img {
    width: 30px;
    height: 30px;
  }

  #about {
    width: 100%;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
  }

  .about-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .about-item p {
    display: inline-block;
  }

  .about-item .prop {
    background-color: #ffb400;
    font-size: 1rem;
    color: #2b2b2b;
    padding: 0 6px;
  }

  .about-item .value {
    font-size: 1rem;
    color: #2b2b2b;
  }

  .divider {
    width: 100%;
    border-top: 1.5px solid #f0f0f6;
    margin: 25px 0;
  }

  #languages {
    width: 100%;
  }

  #languages h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .language-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .language-item p {
    display: inline-block;
  }

  .language-item .lang {
    font-size: 1rem;
    color: #767676;
  }

  .language-item .percent {
    font-size: 1rem;
    color: #767676;
  }

  .progress-bar-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar {
    width: 99%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
  }

  .progress-bar2-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar2 {
    width: 15%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar3-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar3 {
    width: 55%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  #skills {
    width: 100%;
  }

  #skills h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .s-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
    text-align: start;
  }

  .skill-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .skill-item p {
    display: inline-block;
  }

  .skill-item .skill {
    font-size: 1rem;
    color: #767676;
  }

  .skill-item .percent {
    font-size: 1rem;
    color: #767676;
  }

  .progress-bar4-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar4 {
    width: 97%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar5-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar5 {
    width: 97%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar6-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar6 {
    width: 65%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar7-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar7 {
    width: 80%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar8-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar8 {
    width: 50%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .progress-bar12-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .progress-bar12 {
    width: 90%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  #e-skills {
    width: 100%;
  }

  #e-skills h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  #e-skill-item {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  #e-skill-item img {
    width: 25px;
    height: 25px;
  }

  #e-skill-item p {
    display: inline-block;
    font-size: 1rem;
    color: #767676;
  }

  #download-btn {
    width: 100%;
    height: 40px;
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 19px;
    margin-bottom: 50px;
  }

  #download-btn img {
    width: 14px;
    height: 16px;
  }
}

@media screen and (max-width: 30rem) {
  .mobile-sidebar {
    background-color: white;
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    position: fixed;
    left: -100vw;
    top: 0;
    z-index: 300;
    transition: left 0.3s ease-in-out; /* Smooth transition for menu sliding */
  }

  .mobile-sidebar.active {
    left: 0;
  }

  .mobile-sidebar::-webkit-scrollbar {
    display: none;
  }

  .mobile-sidebar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .mobile-sidebar #sidebar-container {
    width: 72%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile-sidebar #profile {
    width: 100%;
    height: 306px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 45px;
    padding-bottom: 25px;
    border-bottom: 1.5px solid #f0f0f6;
  }

  .mobile-sidebar #profile img {
    height: 150px;
    width: 150px;
    margin-bottom: 31px;
  }

  .mobile-sidebar #profile h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .mobile-sidebar #profile p {
    font-size: 1rem;
    color: #767676;
    margin-bottom: 15px;
  }

  .mobile-sidebar #socials {
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mobile-sidebar #socials img {
    width: 30px;
    height: 30px;
  }

  .mobile-sidebar #about {
    width: 100%;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 45px;
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
  }

  .mobile-sidebar .about-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .mobile-sidebar .about-item p {
    display: inline-block;
  }

  .mobile-sidebar .about-item .prop {
    background-color: #ffb400;
    font-size: 1rem;
    color: #2b2b2b;
    padding: 0 6px;
  }

  .mobile-sidebar .about-item .value {
    font-size: 1rem;
    color: #2b2b2b;
  }

  .mobile-sidebar .divider {
    width: 100%;
    border-top: 1.5px solid #f0f0f6;
    margin: 25px 0;
  }

  .mobile-sidebar #languages {
    width: 100%;
  }

  .mobile-sidebar #languages h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .mobile-sidebar .language-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .mobile-sidebar .language-item p {
    display: inline-block;
  }

  .mobile-sidebar .language-item .lang {
    font-size: 1rem;
    color: #767676;
  }

  .mobile-sidebar .language-item .percent {
    font-size: 1rem;
    color: #767676;
  }

  .mobile-sidebar .progress-bar-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar {
    width: 99%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
  }

  .mobile-sidebar .progress-bar2-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar2 {
    width: 15%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar3-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar3 {
    width: 55%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar #skills {
    width: 100%;
  }

  .mobile-sidebar #skills h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .mobile-sidebar .s-title {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
    text-align: start;
  }

  .mobile-sidebar .skill-item {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: space-between;
  }

  .mobile-sidebar .skill-item p {
    display: inline-block;
  }

  .mobile-sidebar .skill-item .skill {
    font-size: 1rem;
    color: #767676;
  }

  .mobile-sidebar .skill-item .percent {
    font-size: 1rem;
    color: #767676;
  }

  .mobile-sidebar .progress-bar4-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar4 {
    width: 97%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar5-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar5 {
    width: 97%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar6-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar6 {
    width: 65%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar7-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar7 {
    width: 80%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar8-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar8 {
    width: 50%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar .progress-bar12-container {
    width: 100%;
    height: 6px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 5px;
    margin-bottom: 9px;
  }

  .mobile-sidebar .progress-bar12 {
    width: 90%;
    height: 3px;
    border: 0.5px solid #ffb400;
    border-radius: 30px;
    background-color: #ffb400;
    margin-left: 1.5px;
  }

  .mobile-sidebar #e-skills {
    width: 100%;
  }

  .mobile-sidebar #e-skills h4 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: #2b2b2b;
  }

  .mobile-sidebar #e-skill-item {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  .mobile-sidebar #e-skill-item img {
    width: 25px;
    height: 25px;
  }

  .mobile-sidebar #e-skill-item p {
    display: inline-block;
    font-size: 1rem;
    color: #767676;
  }

  .mobile-sidebar #download-btn {
    width: 100%;
    height: 40px;
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 19px;
    margin-bottom: 50px;
  }

  .mobile-sidebar #download-btn img {
    width: 14px;
    height: 16px;
  }
}

/* Middle Container */

#middle-section {
  width: 68.6%;
}

#middle-section::-webkit-scrollbar {
  display: none;
}

#middle-section {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#middle-container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  #middle-section {
    width: 100%;
  }
  #middle-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }
}

@media screen and (max-width: 480px) {
  #middle-section {
    width: 100%;
  }

  #middle-container {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    padding: 1rem 0;
  }
}

@media screen and (min-width: 768px) {
  #hero-section {
    width: 100%;
  }

  #hero-container {
    width: 100%;
    height: 50vh;
    margin: 0 auto;
    background-image: url(../images/hero-bg.png);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;

    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    justify-content: space-evenly;
  }

  #hero-description {
    width: 48%;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  #hero-description h1 {
    font-size: 48px;
    line-height: 3.5rem;
    color: #2b2b2b;
    font-weight: bold;
  }

  #hero-description button {
    width: 154px;
    height: 51px;
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    padding: 19px 32px;
  }

  #hero-description img {
    height: 16px;
    width: 16px;
  }

  #hero-description span {
    color: #ffb400;
  }

  #hero-description p {
    color: #767676;
    font-size: 16px;
  }

  #hero-img {
    width: 30%;
    height: 100%;
    background-image: url(../images/hero-pic.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 768px) and (min-width: 481px) {
  #hero-section {
    width: 100vw;
    height: 40vh;
  }

  #hero-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding: 0 35px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  #hero-description {
    width: 60%;
    text-align: start;
    align-items: start;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 1.3rem;
    z-index: 5;
  }

  #hero-img {
    width: 50%;
    height: 100%;
    background-image: url(../images/hero-pic.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 4;
  }

  #hero-description h1 {
    font-size: 35px;
    line-height: 2.5rem;
    color: #2b2b2b;
    font-weight: bold;
  }

  #hero-description button {
    width: 154px;
    height: 51px;
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    padding: 19px 32px;
  }

  #hero-description img {
    height: 16px;
    width: 16px;
  }

  #hero-description span {
    color: #ffb400;
  }

  #hero-description p {
    color: #767676;
    font-size: 16px;
  }

  #hero-img {
    display: hidden;
  }
}

@media screen and (max-width: 480px) {
  #hero-section {
    width: 100vw;
  }

  #hero-container {
    width: 90%;
    height: 60vh;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }

  #hero-description {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
  }

  #hero-description h1 {
    font-size: 35px;
    line-height: 2.5rem;
    color: #2b2b2b;
    font-weight: bold;
  }

  #hero-description button {
    width: 154px;
    height: 51px;
    background-color: #ffb400;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    padding: 19px 32px;
  }

  #hero-description img {
    height: 16px;
    width: 16px;
  }

  #hero-description span {
    color: #ffb400;
  }

  #hero-description p {
    color: #767676;
    font-size: 16px;
  }

  #hero-img {
    display: hidden;
  }
}

@media screen and (min-width: 768px) {
  #mobile-navbar {
    display: hidden;
  }

  #mobile-menu {
    display: hidden;
  }
}

@media screen and (max-width: 30rem) {
  #mobile-navbar {
    width: 100vw;
    height: 8vh;
    position: relative;
  }

  #mobile-navbar-container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background-color: white;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #mobile-navbar-avatar {
    height: 50px;
    width: 50px;
    background-color: #767676;
    border-radius: 50%;
    margin-left: 10px;

  }

  .hamburger-icon {
    width: 35px;
    height: 35px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .hamburger-icon span {
    width: 100%;
    height: 10%;
    background-color: #ffb400;
    display: block;
    margin: 10% 0;
    border-radius: 50px;
  }

  .hamburger-menu {
    background-color: #ffb400;
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 20px 0;
    margin-left: auto;
    position: fixed; /* Ensure it's fixed relative to the viewport */
    top: calc(8vh + 1rem); /* Position it below the navbar */
    right: -1000px; /* Initially hide the menu by moving it off-screen to the right */
    z-index: 100;
    transition: right 0.3s ease-in-out; /* Smooth transition for menu sliding */
  }

  .hamburger-menu li {
    font-size: 1.2rem;
    padding: 10px 25px;
    color: white;
  }

  .hamburger-menu li:hover {
    background-color: black;
  }

  .hamburger-menu.active {
    right: 0;
  }

  .hamburger-icon.active {
    width: 25px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .hamburger-icon.active span {
    margin: 0 0;
    position: absolute;
  }

  .hamburger-icon.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-icon.active span:nth-child(1) {
    transform: translateY(5%) rotate(45deg);
  }

  .hamburger-icon.active span:nth-child(3) {
    transform: translateY(-5%) rotate(-45deg);
  }
}

@media screen and (min-width: 768px) {
  #nav-placeholder {
    width: 6.5%;
    height: 100vh;
    background-color: rgba(168, 27, 27, 0);
  }

  #navbar {
    width: 6.5%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
  }

  #nav-container {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #icon-container {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  #icon-container a {
    text-align: center;
    transition: all 0.5s ease;
  }

  /* #nav-container img {
width: 50px;
} */

  #nav-container button {
    width: 40%;
  }
}

@media screen and (max-width: 480px) {
  #nav-placeholder {
    display: hidden;
  }

  #navbar {
    display: hidden;
  }
}

/* Services Section */
@media screen and (min-width: 768px) {
  #services-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #services p {
    color: #767676;
  }

  .desc {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
    text-align: center;
  }

  .desc h3 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #services h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
  }

  .desc p {
    font-size: 1rem;
    color: #767676;
    display: inline-block;
  }

  #services .cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .cards .top-row {
    display: flex;
    justify-content: space-between;
  }

  #services .card {
    background-color: white;
    width: 32%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
  }

  #services img {
    width: 20%;
  }

  .cards .bottom-row {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  #services {
    width: 100vw;
  }

  #services-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  #services p {
    color: #767676;
  }

  .desc {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    text-align: center;
  }

  .desc h3 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #services h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
  }

  .desc p {
    font-size: 1rem;
    color: #767676;
    display: inline-block;
  }

  #services .cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  .cards .top-row {
    display: flex;
    justify-content: space-between;
  }

  #services .card {
    background-color: white;
    width: 32%;
    height: 250px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    border-radius: 10px;
  }

  #services img {
    width: 20%;
  }

  .cards .bottom-row {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 480px) {
  #services {
    width: 100vw;
  }

  #services-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #services p {
    color: #767676;
  }

  .desc {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    text-align: center;
  }

  .desc h3 {
    font-size: 2rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #services h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
  }

  .desc p {
    font-size: 1rem;
    color: #767676;
    display: inline-block;
  }

  #services .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
  }

  .cards .top-row,
  .bottom-row {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  #services .card {
    background-color: white;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0.5rem;
    border-radius: 15px;
  }

  #services img {
    width: 20%;
  }

  .cards {
  }
}

/* Testimonial section */

@media screen and (min-width: 768px) {
  #testimonials-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #testimonials .cards {
    display: flex;

    column-gap: 1.5rem;
    width: 100%;
    overflow-x: auto;
  }

  #testimonials .cards {
    /* width: 68.6%; */
  }

  #testimonials .card {
    background-color: white;
    width: 32%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 45px;
  }

  #testimonials .card p {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    color: #767676;
  }

  #testimonials .card h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
  }

  #testimonials .card-icons {
    width: 23px;
    display: flex;
    column-gap: 12px;
  }

  .identity {
    display: flex;
    height: 24%;
    column-gap: 1.5rem;
  }

  #testimonials .id-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  #testimonials {
    width: 100vw;
  }

  #testimonials-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  #testimonials .cards {
    display: flex;
    overflow-x: auto;
    column-gap: 1.5rem;
    width: 100%;
    overflow-x: auto;
    height: auto;
  }

  #testimonials .card {
    background-color: white;
    width: 45%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 1.5rem;
    border-radius: 10px;
    padding: 45px;
    flex: 0 0 auto; /* Prevent shrinking */
  }

  #testimonials .card p {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    color: #767676;
  }

  #testimonials .card h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
  }

  #testimonials .card-icons {
    width: 23px;
    display: flex;
    column-gap: 12px;
  }

  .identity {
    display: flex;
    height: 24%;
    column-gap: 1.5rem;
  }

  #testimonials .id-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  #testimonials {
    width: 100vw;
    overflow: visible;
  }

  #testimonials-container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 3.5rem;
  }

  #testimonials .cards {
    display: flex;
    column-gap: 1.5rem;
    height: auto;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: thin; /* Firefox */
    width: auto; /* Let it grow with content */
    max-width: 100%; /* Prevent overflow */
  }

  #testimonials .card {
    background-color: white;
    width: min(320px, 90vw);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    row-gap: 1.5rem;
    padding: 45px;
    flex: 0 0 auto; /* Prevent shrinking */
    border-radius: 15px;
  }

  #testimonials .card p {
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    color: #767676;
  }

  #testimonials .card h5 {
    font-size: 1.2rem;
    font-weight: normal;
    color: #2b2b2b;
    text-align: start;
  }

  #testimonials .card-icons {
    width: 23px;
    display: flex;
    column-gap: 12px;
  }

  .identity {
    display: flex;
    height: 24%;
    column-gap: 1.5rem;
  }

  #testimonials .id-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #testimonials .cards {
    scrollbar-width: thin; /* Firefox */
  }
  #testimonials .cards::-webkit-scrollbar {
    height: 8px; /* Scrollbar height */
  }
  #testimonials .cards::-webkit-scrollbar-thumb {
    background: #ccc; /* Scrollbar color */
    border-radius: 10px; /* Rounded edges */
  }

  #testimonials .cards {
    scroll-behavior: smooth;
  }
}

/* Contact Section */

@media screen and (min-width: 768px) {
  #contact-container {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #form-cards {
    display: flex;
    justify-content: space-between;
  }

  #contact-section #left-side {
    width: 53%;
  }

  #contact-section h3 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #contact-section h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #767676;
    margin-bottom: 50px;
  }

  #contact-section form {
    width: 100%;
    background-color: white;
    padding: 30px;
  }

  #contact-section label {
    color: #767676;
  }

  .form-input-field {
    background-color: #f0f0f6;
  }

  label {
    font-size: 1.1rem;
  }

  #contact-section #left-side {
    width: 60%;
  }

  #contact-section .checkboxes {
    display: flex;
    column-gap: 6.25rem;
  }

  .checkboxes span {
    color: #767676;
    margin-left: 12px;
  }

  #contact-section button {
    background-color: #ffb400;
    font-size: 1rem;
    height: 40px;
    padding: 0 50px;
    margin: 26px auto;
  }

  #contact-section span button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-section #right-side {
    width: 35%;
  }

  #right-side #cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  #right-side .card {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    justify-content: center;
    background-color: white;
    padding: 36px;
  }

  .card .img {
    display: flex;
    justify-content: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .card-info .info {
    display: flex;
    justify-content: space-between;
  }

  .card-info h6 {
    font-size: 1.1rem;
    color: #767676;
  }

  .card-info p {
    font-size: 1rem;
    color: #767676;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  #contact-section {
    width: 100vw;
  }

  #contact-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
  }

  #form-cards {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    justify-content: space-between;
  }

  #contact-section #left-side {
    width: 100%;
  }

  #contact-section h3 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #contact-section h4 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #767676;
    margin-bottom: 50px;
    text-align: center;
  }

  #contact-section form {
    width: 100%;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
  }

  #contact-section label {
    color: #767676;
  }

  .form-input-field {
    background-color: #f0f0f6;
  }

  label {
    font-size: 1.1rem;
  }

  #contact-section .checkboxes {
    display: flex;
    column-gap: 6.25rem;
  }

  .checkboxes span {
    color: #767676;
    margin-left: 12px;
  }

  #contact-section button {
    background-color: #ffb400;
    font-size: 1rem;
    height: 40px;
    padding: 0 50px;
    margin: 26px auto;
  }

  #contact-section span button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-section #right-side {
    width: 100%;
  }

  #right-side #cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;

    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1rem; */
  }

  #right-side .card {
    min-width: 350px;
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    justify-content: center;
    background-color: white;
    padding: 36px;
    border-radius: 10px;
  }

  .card .img {
    display: flex;
    justify-content: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .card-info .info {
    display: flex;
    justify-content: space-between;
  }

  .card-info h6 {
    font-size: 1.1rem;
    color: #767676;
  }

  .card-info p {
    font-size: 1rem;
    color: #767676;
  }
}

@media screen and (max-width: 480px) {
  #contact-section {
    width: 100vw;
  }

  #contact-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #form {
    border-radius: 15px;
  }

  #form-cards {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
  }

  #contact-section #left-side {
    width: 100%;
  }

  #contact-section h3 {
    font-size: 2.3rem;
    font-weight: 600;
    color: #2b2b2b;
  }

  #contact-section h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: #767676;
    margin-bottom: 30px;
    text-align: center;
  }

  #contact-section form {
    width: 100%;
    background-color: white;
    padding: 30px;
    flex: 0 0 auto;
  }

  /* #mail-contact {
    display: flex;
    flex-direction: column;
  } */

  #contact-section label {
    color: #767676;
  }

  .form-input-field {
    background-color: #f0f0f6;
  }

  label {
    font-size: 1.1rem;
  }

  #contact-section .checkboxes {
    display: flex;
    flex-direction: column;
    /* column-gap: 6.25rem; */
    margin-top: 15px;
  }

  .checkboxes span {
    color: #767676;
    margin-left: 12px;
  }

  #contact-section button {
    background-color: #ffb400;
    font-size: 1rem;
    height: 40px;
    padding: 0 50px;
    margin: 26px auto;
  }

  #contact-section span button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #contact-section #right-side {
    width: 100%;
  }

  #right-side #cards {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
  }

  #right-side .card {
    display: flex;
    flex-direction: column;
    row-gap: 1.1rem;
    justify-content: center;
    background-color: white;
    padding: 36px;
    border-radius: 15px;
  }

  .card .img {
    display: flex;
    justify-content: center;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .card-info .info {
    display: flex;
    justify-content: space-between;
  }

  .card-info h6 {
    font-size: 1.1rem;
    color: #767676;
  }

  .card-info p {
    font-size: 1rem;
    color: #767676;
  }
}

/* Footer Section */

@media screen and (min-width: 768px) {
  footer {
    background-color: white;
    height: 100px;
    width: 100%;
  }

  #footer-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footer-container h6 {
    display: inline-block;
    color: #2b2b2b;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}

@media screen and (min-width: 30rem) and (max-width: 48rem) {
  /*footer {
    height: 100px;
    width: 95vw;
    background-color: white;

    margin: 0 auto;

    text-align: center;
  }

  #footer-container {
    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  #footer-container h6 {
    display: inline-block;
    color: #2b2b2b;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  } */

  footer {
    height: 100px;
    width: 100vw;
  }

  #footer-container {
    background-color: white;

    height: 100%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  #footer-container h6 {
    display: inline-block;
    color: #2b2b2b;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}

@media screen and (max-width: 480px) {
  footer {
    height: 100px;
    width: 100vw;
  }

  #footer-container {
    background-color: white;

    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
  }

  #footer-container h6 {
    display: inline-block;
    color: #2b2b2b;
    font-size: 0.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
  }
}

.nav-btn.active {
  background-color: #ffb400;
  color: black;
}
